


*{
 scroll-behavior: smooth; 
}


div.relative {

    position: relative;
    border: 1px solid blue;

}

div.absolute {

    position: absolute;
    right: 0px;
    height: 200px;
    width: 200px;
    border: 1px solid blue;

}

div.absolute {

    position: aboslute;
    
}